<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank You</title>
    <link rel="stylesheet" type="text/css" href="../static/css/default.css" />
  </head>
  <body>
    <section class="s1">
      <div class="main-contatiner">
        <div class="intro-wrapper">
          <div class="nav-wrapper">
            <div id="theme-options-wrapper"></div>

            <ul id="navigation">
              <li><a href="/">Dashboard</a></li>
            </ul>
          </div>
        </div>
        <div class="greeting-wrapper">
          <h3>Thank you for the message. I will reply the soonset possible.</h13>
        </div>
      </div>
    </section>

    <script type="text/javascript" src="../static/scripts/script.js"></script>
  </body>
</html>
